<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>About Us</h1>

    <div class="info-container">
      <h2>Vision</h2>
      <p>The College of Computer Studies is a center of excellence in computer studies and a dependable and reliable choice in producing competent, responsible, skilled, and morally upright individuals that conform to the scientific, technological, and professional demands and requirements of the business, industries, and communities.</p>
    </div>
    
    <div class="info-container">
      <h2>Mission</h2>
      <p>The College of Computer Studies is committed to providing accessible, responsive, efficient, and quality pedagogy in computer studies that promotes holistic development of the students imbued with the core values - responsibility, involvement, commitment, and excellence. Moreover, the College prepares the students to be creative, innovative, and globally competitive individuals equipped with the skills, virtues, and academic development in information technology education programs and related disciplines.</p>
    </div>

    <div class="info-container">
      <h2>BSIT Program Goal</h2>
      <p>Generally, the goal of the Bachelor of Science in Information Technology program is to produce graduates who are globally competitive in the field of information technology and are equipped with proper values, skills, and attitudes of true professionals.</p>
    </div>

    <a href="/" class="button-link">Go to Home Page</a>
  </div>
</body>
</html>
